# 1 Basics

## Exercise 1.1: The interpreter

In [1]:
3+1

4

In [2]:
3*3

9

In [3]:
2**3

8

In [4]:
"Hello, world!"

'Hello, world!'

## Exercise 1.2: Scripts

In [5]:
3+1
3*3
2**3
"Hello world"

'Hello world'

* When we wrote it this way, it only printed the last part. To solve this;

In [6]:
print(3+1)
print(3*3)
print(2**3)
"Hello world!"

4
9
8

'Hello world!'

## Exercise 1.3: More interpreter

In [7]:
'py' + 'thon'

'python'

In [8]:
'py'*3 + 'ton'

'pypypyton'

In [9]:
'py'- 'py'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

* We got an error because "-" sign is not compatible for string.

In [10]:
'3'+3

TypeError: can only concatenate str (not "int") to str

* Aggregation cannot be between string and int values.

In [11]:
3 * '3'

'333'

In [12]:
a

NameError: name 'a' is not defined

* a is not defined

In [13]:
a = 3

In [14]:
a

3

## Exercise 1.4: Booleans

In [15]:
1 == 1

True

In [16]:
1 == True

True

In [17]:
0 == True

False

In [18]:
0 == False

True

In [19]:
3 == 1 * 3

True

In [20]:
(3 == 1) * 3

0

* Return 0. 3 is not equal to 1. So it was false so the number 0. 0 * 3 was also equal to 0.

In [21]:
(3 == 3) * 4 + 3 == 1

False

* 1 * 4 + 3 = 7, 7 not equal 1 so false.

In [22]:
3**5 >= 4**4

False

* 3**5 = 243 , 4**4 = 256, 243 < 256 so false.

## Exercise 1.5: Integers

In [23]:
5 / 3

1.6666666666666667

In [24]:
5 % 3

2

In [25]:
5.0 / 3

1.6666666666666667

In [26]:
5 / 3.0

1.6666666666666667

In [27]:
5.2 % 3

2.2

In [28]:
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

## Exercise 1.6: Floats

In [29]:
2000.3 ** 200

OverflowError: (34, 'Result too large')

* Because this number is so large, it exceeds python limits. We can use a library as a solution.

In [30]:
1.0 + 1.0 - 1.0

1.0

In [31]:
1.0 + 1.0e20 - 1.0e20

0.0

## Exercise 1.7: Variables

In [32]:
name = "Berke Türk"

In [33]:
print("Hello",name,"!")

Hello Berke Türk !

## Exercise 1.8: Type casting

In [34]:
float(123)

123.0

In [36]:
float("123")

123.0

In [37]:
float("123.23")

123.23

In [38]:
int(123.23)

123

In [39]:
int("123.23")

ValueError: invalid literal for int() with base 10: '123.23'

* We are getting an error because we are trying to convert String to int but we are using float instead of int.

In [40]:
int(float('123.23'))

123

In [41]:
str(12)

'12'

In [42]:
str(12.2)

'12.2'

In [43]:
bool('a')

True

In [44]:
bool(0)

False

In [45]:
bool(0.1)

True

# 2 Control Flow

## Exercise 2.1: Range

In [46]:
range(5)

range(0, 5)

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [48]:
type(range(5))

range

## Exercise 2.2: For loops

In [51]:
for i in range(101):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [52]:
for i in range(0,101,7):
    print(i,end =" ")

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [53]:
for i in range(0,101):
    if(i %5==0 and i %3 !=0):
        print(i,end=" ")

5 10 20 25 35 40 50 55 65 70 80 85 95 100

In [55]:
for i in range(2,21):
    print(i,end =" -> ")
    for j in range(2,i):
        if(i%j == 0):
            print(j,end =" ")
    print()

2 ->
3 ->
4 -> 2
5 ->
6 -> 2 3
7 ->
8 -> 2 4
9 -> 3
10 -> 2 5
11 ->
12 -> 2 3 4 6
13 ->
14 -> 2 7
15 -> 3 5
16 -> 2 4 8
17 ->
18 -> 2 3 6 9
19 ->
20 -> 2 4 5 10

## Exercise 2.3: Simple while loops

In [57]:
i=0
while(i != 101):
    print(i,end=" ")
    i += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [58]:
i=0
while(i < 101):
    print(i,end=" ")
    i += 7

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

## Exercise 2.4: Hangman update 1

* I reviewed the given code. But I noticed that the code does not affect the running performance in the desired situation. I'll try again and update here.**

## Exercise 2.5: While loops

In [59]:
number_found = 0
x = 11
while(number_found < 20):
    if(x%5 == 0 and x%7 == 0 and x%11==0):
        print(x,end=" ")
        number_found +=1
    x+=1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

## Exercise 2.6: More while loops

In [74]:
count = 1
while True:
    isDivisible = True
    for i in range(1,10):
        if count%i !=0:
            isDivisible = False
            count+=1
    if isDivisible==True:
        print(count)
        break

2520

## Exercise 2.7: Collatz sequence

In [83]:
x = 103
while(x!=1):
    if(x%2 == 0):
        x = x/2        
    else:
        x=3*x + 1
    print(x,end="-")

310-155.0-466.0-233.0-700.0-350.0-175.0-526.0-263.0-790.0-395.0-1186.0-593.0-1780.0-890.0-445.0-1336.0-668.0-334.0-167.0-502.0-251.0-754.0-377.0-1132.0-566.0-283.0-850.0-425.0-1276.0-638.0-319.0-958.0-479.0-1438.0-719.0-2158.0-1079.0-3238.0-1619.0-4858.0-2429.0-7288.0-3644.0-1822.0-911.0-2734.0-1367.0-4102.0-2051.0-6154.0-3077.0-9232.0-4616.0-2308.0-1154.0-577.0-1732.0-866.0-433.0-1300.0-650.0-325.0-976.0-488.0-244.0-122.0-61.0-184.0-92.0-46.0-23.0-70.0-35.0-106.0-53.0-160.0-80.0-40.0-20.0-10.0-5.0-16.0-8.0-4.0-2.0-1.0-

# 3  Functions

## Exercise 3.1: Hello

In [84]:
def hello_world():
    print("Hello, world!")
hello_world()

Hello, world!

In [85]:
def hello_name(name):
    print("Hello, "+name)
hello_name("Berke")

Hello, Berke

c)
* Print, prints the output to the console. 
* Return, returns the output of the function.

## Exercise 3.2: Polynomial

In [90]:
x = int(input())

def polinom(x):
    return ((3*(x**2))-(x + 2))
print(polinom(x))

3
22

## Exercise 3.3: Maximum

In [92]:
x = int(input("enter the value x:"))
y = int(input("enter the value y:"))

def my_max(x,y):
    if x>=y:
        return x
    else:
        return y
print(my_max(x,y))

enter the value x:12
enter the value y:6
12

In [94]:
x = int(input("Enter the value x:"))
y = int(input("Enter the value y:"))

def my_max(x,y):
    if x>=y:
        return x
    return y
print(my_max(x,y))

Enter the value x:14
Enter the value y:42
42

## Exercise 3.4: Primes

In [121]:
x = int(input("Enter the number: "))
def isPrime(x):
    if x < 2:
        return False
    else:
        for i in range(2,x):
            if x % i == 0:
               return False
        return True

print (isPrime(x))

Enter the number: 17
True

In [136]:
x = int(input("Enter the number: "))
def printPrime(x):
    for i in range(2, x + 1):
        if isPrime(i):
            print(i, end =" ")

print (printPrime(x))

Enter the number: 17
2 3 5 7 11 13 17 None

In [135]:

x = int(input("Enter the number: "))
count = 1
n = 2
while count <= x:
  if isPrime(n) == 1:
    if count == x:
      print (n)
    count +=1
  n=n+1

Enter the number: 5
11

## Exercise 3.5: Root finding

* I can't answer this question for now. It will be updated for later.